@media (max-width: 40em) {
    /* HEADER SECTION STYLES */
    .header {
        padding: 20px 15px;
    }

    .menu-btn {
        display: block;
    }

    .navbar-collapse, .menu-list {
        flex-direction: column;
    }

    .navbar-collapse {
        height: 100vh;
        width: 240px;
        padding: 25px;
        justify-content: initial;
        gap: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(240px);
        background-color: #fff;
        z-index: 100;
        transition: transform 0.3s ease-out;
    }

    .navbar-collapse[data-visible="true"] {
        transform: translateX(0px);
    }

    .menu-btn[aria-expanded="true"] {
        background-image: url('images/icon-close-menu.svg');
    }

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: -1;
        transition: all .3s ease;
    }
    
    .navbar-collapse[data-visible="true"] ~ .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 10;
    }

    .main-nav {
        margin-top: 30%;
    }

    .login-nav {
        text-align: center;
    }

    .register-link {
        display: block;
    }

    .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
        position: static;
        padding-bottom: 0;
    }


    /* INTRO SECTION STYLES */
    .grid-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .content-block {
        order: 1;
        text-align: center;
        padding: 0 15px;
    }

    .hero-image {
        aspect-ratio: 1.33 / 1;
        float: none;
    }

    .clients img {
        width: 64px;
    }
}