@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
}


/* UTILITY CLASSES */
.d-flex {
    display: flex;
}

.bordered {
    padding: 10px 20px;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 12px;
}

.bordered:hover {
    border-color: hsl(0, 0%, 8%);
}

.btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.btn-dark {
    padding: 15px 30px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}


/* HEADER STYLES */
.header {
    padding: 30px 40px;
}

.logo {
    margin-right: 3rem;
    position: relative;
    z-index: 100;
}

.navbar-collapse {
    width: 100%;
    justify-content: space-between;
}

.menu-btn {
    display: none;
    position: absolute;
    z-index: 1000;
    aspect-ratio: 1;
    width: 26px;
    background-image: url('images/icon-menu.svg');
    background-repeat: no-repeat;
    right: 15px;
}

/* MAIN MENU */
.menu-list, .dropdown-menu {
    list-style: none;
}

.menu-list {
    gap: 2.2rem;
}

.menu-link, .dropdown-link {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    font-weight: 500;
}

.menu-link:hover {
    color: hsl(0, 0%, 8%);
}

.dropdown {
    position: relative;
}

.dropdown[data-visible="true"] .dropdown-menu {
    display: block;
}

.dropdown[data-visible="true"] .dropdown-toggle img {
    transform: rotateX(180deg);
}

.dropdown-menu {
    display: none;
    width: max-content;
    padding: 25px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 10px 20px 5px #ccc;
    position: absolute;
    top: 40px;
}

/* features dropdown menu */
#features {
    right: 0;
}

.dropdown-menu li + li {
    margin-top: 15px;
}

.dropdown-link > img {
    margin-inline-end: 0.5rem;
}

/* INTRO SECTION STYLES */
.container {
    width: 100%;
    max-width: 1150px;
    margin-inline: auto;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
}

.content-block {
    max-width: 530px;
}

.hero-image {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1 / 1.33;
    float: right;
}

.main-title {
    font-size: clamp(2rem, 0.9437rem + 5.0704vw, 5rem);
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    margin-block: 3rem;
}

.callout-text {
    max-width: 430px;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    line-height: 1.6;
    margin-bottom: 50px;
}

.clients {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 3rem;
}

/* FOOTER STYLES */
footer {
    padding: 30px 15px;
}

.attribution {
    font-size: 1rem; 
    text-align: center;
    line-height: 1.6;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}